img {
    height: 100px;
    width: 100px;
    margin-bottom: 6px;
    }
    body{
        background-color: #5454E6;
    }
    div{
        width: 100%;
       
    }
    .divNormal{
        
        width: 100%;
        background-color: #22045A;
    }
    
   